name: Checkmarx Scan
on:
  workflow_dispatch:
  push:


jobs:
  execute-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      statuses: write
    steps:
      - name: Fetch Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b

      - uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: 'corretto'

      - name: Scan with CxOne++ Action
        id: cxscan
        uses: checkmarx-ts/cxone-plusplus-github-action@v2
        with:
          cx-tenant: ${{ secrets.CXONE_TENANT }}
          cx-client-id: ${{ secrets.CXONE_CLIENT_ID }}
          cx-client-secret: ${{ secrets.CXONE_CLIENT_SECRET }}
          upload-sarif-file: false

      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: "3.12"

      - name: Setup Python Build Env
        run: pip3 install virtualenv

      - name: Gen Sarif
        shell: bash
        run: |
          virtualenv .venv
          . .venv/bin/activate
          pip install "cxone_sarif[cli]@https://github.com/checkmarx-ts/cxone-sarif/releases/download/1.1.1rc14/cxone_sarif-1.1.1rc14-py3-none-any.whl"
          cxone-sarif --region US --tenant ${{ secrets.CXONE_TENANT }} --client ${{ secrets.CXONE_CLIENT_ID }} --secret ${{ secrets.CXONE_CLIENT_SECRET }} --with-sast-simid --level DEBUG ${{ steps.cxscan.outputs.scan-id }}

      - name: Sarif Upload
        uses: github/codeql-action/upload-sarif@c36620d31ac7c881962c3d9dd939c40ec9434f2b
        with:
          sarif_file: ${{ steps.cxscan.outputs.scan-id }}.sarif
          category: Checkmarx

      - name: Show Outputs
        shell: bash
        run: |
            echo "Scan ID: ${{ steps.cxscan.outputs.scan-id }}"
            echo "Project ID: ${{ steps.cxscan.outputs.project-id }}"
            echo "Scan Link: ${{ steps.cxscan.outputs.project-deeplink }}"          
