name: Checkmarx Scan
on:
  workflow_dispatch:
  push:
  

jobs:
  execute-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      statuses: write
    steps:
      - name: Fetch Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b

      - uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: 'corretto'

      - name: Scan with CxOne++ Action
        id: cxscan
        uses: checkmarx-ts/cxone-plusplus-github-action@v2
        with:
          cx-tenant: ${{ secrets.CXONE_TENANT }}
          cx-client-id: ${{ secrets.CXONE_CLIENT_ID }}
          cx-client-secret: ${{ secrets.CXONE_CLIENT_SECRET }}
          upload-sarif-file: false

      - name: Show Outputs
        shell: bash
        run: |
            echo "Scan ID: ${{ steps.cxscan.outputs.scan-id }}"
            echo "Project ID: ${{ steps.cxscan.outputs.project-id }}"
            echo "Scan Link: ${{ steps.cxscan.outputs.project-deeplink }}"          
